{% extends 'base.html.twig' %}

{% block title %}AppModules{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block body %}
    <div class="col-12">
        <div class="row justify-content-center py-5">
            <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                <div class="btn-group show" role="group">
                    <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"></button>
                    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1" style="position: absolute;transform: translate3d(0px, 38px, 0px);top: 0px;left: 0px;will-change: transform;" x-placement="bottom-start">
                        <a class="dropdown-item" href="/semestre/1">Semestre 1</a>
                        <a class="dropdown-item" href="/semestre/2">Semestre 2</a>
                        <a class="dropdown-item" href="/semestre/3">Semestre 3</a>
                        <a class="dropdown-item" href="/semestre/4">Semestre 4</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/semestre/5">License Pro</a>
                    </div>
                </div>
                {% if numSemestre != 5 %}
                    <button type="button" class="btn btn-primary">Semestre {{ numSemestre }}</button>
                {% else %}
                    <button type="button" class="btn btn-primary">Licence Pro</button>
                {% endif %}
            </div>
        </div>

        <ul class="nav nav-tabs justify-content-around">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#UE{{ numSemestre }}1"><h4 class="text-secondary m-0">UE {{ numSemestre }}1</h4></a>
            </li>
            {% if numSemaine != 5 %}
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#UE{{ numSemestre }}2"><h4 class="text-secondary m-0">UE {{ numSemestre }}2</h4></a>
            </li>
            {% endif %}
            <li class="nav-item">
                <a class="nav-link disabled" href="#Recap"><h4 class="text-body m-0">Recap</h4></a>
            </li>
        </ul>
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade show active" id="UE{{ numSemestre }}1">
                <div class="row justify-content-center mx-0">
                    <table class="table table-striped text-center border-left border-right border-bottom">
                        <thead>
                            <tr>
                                <th scope="col" rowspan="2"></th>
                                {% set module = "" %}
                                {% set nbCol = 0 %}
                                {% for semaine in semainesUE1 %}
                                    {% if semaine.module|split(' ')[0] != module %}
                                        <th scope="col" colspan="3" class="border-right border-left border-light text-center">{{ semaine.module|split(' ')[0] }}<br/>{{ semaine.responsable }}</th>
                                        {% set nbCol = nbCol + 1 %}
                                    {% endif %}
                                    {% set module = semaine.module|split(' ')[0] %}
                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th></th>
                                {% set module = "" %}
                                {% for semaine in semainesUE1 %}
                                    {% if semaine.module|split(' ')[0] != module %}
                                        <th scope="col" class="border-left">CM</th>
                                        <th scope="col">TD</th>
                                        <th scope="col" class="border-right">TP</th>
                                    {% endif %}
                                    {% set module = semaine.module|split(' ')[0] %}
                                {% endfor %}
                            </tr>
                            {% for s in semainedeb..52 %}
                                <tr>
                                    <th scope="row">S{{ s }}</th>
                                    {% set nb = 0 %}
                                    {% for semaine in semainesUE1 %}
                                        {% if semaine.semaine == s %}
                                            <td class="border-left">{{ semaine.CM }}</td>
                                            <td>{{ semaine.TD }}</td>
                                            <td class="border-right">{{ semaine.TP }}</td>
                                            {% set nb = nb + 1 %}
                                        {% endif %}
                                    {% endfor %}
                                    {% for i in nb..nbCol-1 %}
                                        {% if nb != nbCol %}
                                            <td class="border-left"></td>
                                            <td></td>
                                            <td class="border-right"></td>
                                        {% endif %}
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                            {% for s in 1..semainefin %}
                                <tr>
                                    <th scope="row">S{{ s }}</th>
                                    {% set nb = 0 %}
                                    {% for semaine in semainesUE1 %}
                                        {% if semaine.semaine == s %}
                                            <td class="border-left">{{ semaine.CM }}</td>
                                            <td>{{ semaine.TD }}</td>
                                            <td class="border-right">{{ semaine.TP }}</td>
                                            {% set nb = nb + 1 %}
                                        {% endif %}
                                    {% endfor %}
                                    {% for i in nb..nbCol-1 %}
                                        {% if nb != nbCol %}
                                            <td class="border-left"></td>
                                            <td></td>
                                            <td class="border-right"></td>
                                        {% endif %}
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            {% if numSemaine != 5 %}
            <div class="tab-pane fade" id="UE{{ numSemestre }}2">
                <div class="row justify-content-center">
                    <table class="table table-striped text-center">
                        <thead>
                        <tr>
                            <th scope="col"></th>
                            {% set module = "" %}
                            {% set nbCol = 0 %}
                            {% for semaine in semainesUE2 %}
                                {% if semaine.module|split(' ')[0] != module %}
                                    <th scope="col" colspan="3" class="border-right border-left border-light text-center">{{ semaine.module|split(' ')[0] }}<br/>{{ semaine.responsable }}</th>
                                    {% set nbCol = nbCol + 1 %}
                                {% endif %}
                                {% set module = semaine.module|split(' ')[0] %}
                            {% endfor %}
                        </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th></th>
                                {% set module = "" %}
                                {% for semaine in semainesUE2 %}
                                    {% if semaine.module|split(' ')[0] != module %}
                                        <th scope="col" class="border-left">CM</th>
                                        <th scope="col">TD</th>
                                        <th scope="col" class="border-right">TP</th>
                                    {% endif %}
                                    {% set module = semaine.module|split(' ')[0] %}
                                {% endfor %}
                            </tr>
                            {% for s in semainedeb..52 %}
                                <tr>
                                    <th scope="row">S{{ s }}</th>
                                    {% set nb = 0 %}
                                    {% for semaine in semainesUE2 %}
                                        {% if semaine.semaine == s %}
                                            <td class="border-left">{{ semaine.CM }}</td>
                                            <td>{{ semaine.TD }}</td>
                                            <td class="border-right">{{ semaine.TP }}</td>
                                            {% set nb = nb + 1 %}
                                        {% endif %}
                                    {% endfor %}
                                    {% for i in nb..nbCol-1 %}
                                        {% if nb != nbCol %}
                                            <td class="border-left"></td>
                                            <td></td>
                                            <td class="border-right"></td>
                                        {% endif %}
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                            {% for s in 1..semainefin %}
                                <tr>
                                    <th scope="row">S{{ s }}</th>
                                    {% set nb = 0 %}
                                    {% for semaine in semainesUE2 %}
                                        {% if semaine.semaine == s %}
                                            <td class="border-left">{{ semaine.CM }}</td>
                                            <td>{{ semaine.TD }}</td>
                                            <td class="border-right">{{ semaine.TP }}</td>
                                            {% set nb = nb + 1 %}
                                        {% endif %}
                                    {% endfor %}
                                    {% for i in nb..nbCol-1 %}
                                        {% if nb != nbCol %}
                                            <td class="border-left"></td>
                                            <td></td>
                                            <td class="border-right"></td>
                                        {% endif %}
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            {% endif %}
            <div class="tab-pane fade" id="Recap">
                <!--Recap hebdomadaire-->
            </div>
        </div>
    </div>
{% endblock %}
