{% extends 'base.html.twig' %}

{% block title %}AppModules{% endblock %}

{% block body %}
    <div>
        <table>
            <thead>
                <th>Semaine</th>
                {% set module = "" %}
                {% for semaine in semainesUE1 %}
                    {% if semaine.module|split(' ')[0] != module %}
                        <th>{{ semaine.module|split(' ')[0] }}<br/>{{ semaine.responsable }}</th>
                    {% endif %}
                    {% set module = semaine.module|split(' ')[0] %}
                {% endfor %}
            </thead>
            <tbody>
                {% for s in semainedebs1..52 %}
                    <tr>
                        <!--Afficher numéro semaine-->
                        <td>{{ s }}</td>
                        {% for semaine in semainesUE1 %}
                            <!--Afficher créneaux-->
                            {% if semaine.semaine == s %}
                                <td>CM {{ semaine.CM }} <br/> TD {{ semaine.TD }} <br/> TP {{ semaine.TP }}</td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endfor %}
                {% for s in 1..semainefins1 %}
                    <tr>
                        <!--Afficher numéro semaine-->
                        <td>{{ s }}</td>
                        {% for semaine in semainesUE1 %}
                            <!--Afficher créneaux-->
                            {% if semaine.semaine == s %}
                                <td>CM {{ semaine.CM }} <br/> TD {{ semaine.TD }} <br/> TP {{ semaine.TP }}</td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
